*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    background-color: #f1f3f6;
    z-index: 1;
}

.dark{
    background-color: black;
}
header{
    width:100%;
}


.navbar{
    background-color: white !important;
}

.logo img{
    height: 30px;
}

form .search-box{
    height:33px;
    width:500px;
    background-color: #f0f5ff !important;
    border:none;
    outline: none;
    margin-right: 0;
    border-radius: 6px;
    padding:5px;
}

form .search-box:focus{
    outline: none !important;
}
form .search-btn{
    height:33px;
    background-color:gray;
}

form .search-btn:hover{
    background-color: gray;
}

form .search-btn:focus{
    outline:none !important;
}

.navbar-toggler{
    outline: none !important;
}

.navbar-toggler:focus{
    outline: none;
}

.menu li{
    padding:3px;
}

.menu .fa{
    margin-top:5px;
}

.weatherbtn{
    background: transparent;
    border: none;
}

#crsl{
    margin-top: 20px;

}

#coupon{
    background-image: url(https://images.pexels.com/photos/5625130/pexels-photo-5625130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    height:400px;
    width:500px;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-left: 27%;
    margin-top: 6%;
    visibility: visible;
    
}

#coupon h2{
    margin-top:18%;
    margin-bottom:14%;
}
.couponcont{
    text-align: center;
}
#coupon p{
    font-size: 18px;
    font-weight: bold;
}

#coupon h2{
    font-weight: bold;
}

#coupon .code{
    border:1px solid black;
    font-size: 25px;
    padding:5px;
    display: inline;
    background-color: gray;
    color: white ;
}
#coupon .close{
    background-color: blue;
    border:none;
    font-size: 18px;
    padding: 5px;
}
.carousel-item img{
    height:300px;
    z-index: 1;
}

.slid{
    background-color: white;
    
}

.carousel-indicators{
    z-index: 1;
}
#items{
    background-color: white;
    margin:1%;
    padding: 5px;
}

#items h4{
    padding:15px;
}

#items a p{
    text-align:right;
    margin-top: 17px;
}

.price{
    text-align: center;

}

.item .card{
    border:1px solid gray;
    height: 238px;
    width:230px;
    padding: 3px 3px;
   
}

.card img{
    height:150px;
    width:150px;
    padding:2px;
}

#items2{
    background-color: white;
    margin:1%;
    padding: 5px;
}

#items2 h4{
    padding:15px;
}

#items2 a p{
    text-align:right;
    margin-top: 17px;
}

#items3{
    background-color: white;
    margin:1%;
    padding: 5px;
}

#items3 h4{
    padding:15px;
}

#items3 a p{
    text-align:right;
    margin-top: 17px;
}
.view{
    border:1px solid blue;
    padding:3px;
    font-size: 10px;
}

#reviews{
    background-color: white;
    margin:1%;
    padding: 5px;
}

#reviews h1{
    text-align: center;
    padding:30px;
    font-weight: bolder;
}
.card-body h5{
    text-align: center;
}

.card{
    margin: 7px 0px;
}
.card-body .fa-solid{
    text-align: center;
}

.detailed{
    text-align: justify;
 
}

#reviews{
    padding-bottom: 80px;
}

.review{
    padding:5px;
}

#available{
    background-color: white;
    margin:1%;
    padding: 5px;
}

.pin input[type=text]{
    height:46px;
    margin-top: 8px;
    padding: 5px;
    
}
.pin .btn{
    height:46px;
    margin-bottom: 5px;
}

#offer1{
    background-color: white;
    margin:1%;
    padding: 10px;
}

#offer1 img{
    height: 100px;
}

#mobiles{
    background-color: white;
    margin:1%;
    padding: 5px;
}

#mobiles a p{
    text-align:right;
    margin-top: 17px;
}

#mobiles h4{
    padding:15px;
}

footer{
    width:100%;
    text-align: center;
    background-color: #212121;
    color:#f8f8f8;
    padding-top: 1%;
    padding-bottom: 2%;
}


.foot ul{
    list-style-type: none;
    
}

.foot{
    display: inline-block;
    border-right: 1px solid white;
    width:32%;
}

.noborder{
    border:none;
}

.footext{
    margin-bottom: 2%;
}

.darkbtn1{
    border:none;
    background: transparent;
}

.darkbtn1 i{
    font-size:30px;
}
@media only screen and (min-width:992px){
    .search-box{
        margin-left: 140px;
        width:450px;
    }

    
}

@media only screen and (max-width:992px){
    .search-container{
       display: none;
    }

    .carousel-item{
        height: 250px !important;
    }
    .carousel-item img{
        height:250px;
    }
    .item .card{
        height: 238px;
    }
   
}

@media only screen and (min-width:992px){
    .darkbtn1{
        display: none;
    }
    .weatherbtn{
        display: none;
    }
}
@media screen and (max-width:800px){
    .item .card {
        width:200px;
    }
    
    .carousel-item{
        height: 200px !important;
    }
    .carousel-item img{
        height:200px;
    }
}

@media screen and (max-width:640px){
    .item .card {
        width:150px;
    }

}

@media screen and (max-width:599px){
    .item .card {
        width:200px;
       
    }
    .slid{
        height:200px;
       }
}

@media screen and (max-width:501px){
    .carousel-item{
        height: 150px !important;
    }
    .carousel-item img{
        height:150px;
    }
}

@media only screen and (max-width:762px){  
    #available .map{
        display: flex;
        justify-content: center;
    }

    #coupon{
        margin-left: 17%;
        margin-top: 10%;
        width:400px;
    }

}
    
@media only screen and (max-width:940px){
    #offer1 img{
        width:90%;
    }
}

@media only screen and (max-width:580px){
    #coupon{
        margin-left: 7%;
        width:350px;
    }
}
