*{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    font-family: sans-serif;
    background-color:#f1f3f6;
}
.maindiv{
    display: inline-block;
}
header{
    height:10%;
    width:100%;
    background-color: #2874f0;
}


.navbar{
    background-color: white !important;
}

.brand{
    margin-left: 120px;
    padding: 0;
}

.logotext{
    font-size: 13px;
    margin-left: 65px;
    font-style: italic;

}

.explore{
    color: #b9a4a4;
}
.plus{
    color: #ffc33f;
}

.search-main{
    /* border: 1px solid red; */
    
}



.box input[type=search]{
    width:400px;
    margin-left: 7px;
    border:none !important;
    outline: none;
    background-color: #f0f5ff !important;
    
}

.box input[type=search]:focus{
    outline:none !important;
}

.box form{
    background-color: #f0f5ff;
    width:480px;
    height: 35px;
    border-radius: 20px;
}

.box button{
    border:none;
}

.menu{
    margin-left: 0px;
}

.icons{
    padding-right:50px
}

.fa{
    font-size: 17px;
}



header a img{
    float:left;
    width:90px;
    height:80%;
    margin: 5px 15px;
}
.slid{
    margin-top:1%;
}
.sl{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}

.su{
    
    text-decoration: none;
    color:aliceblue;
    padding: 10px;
}
#heading{
    width:100%;
    
    background-color: #ffffff;
   
    margin-top: 1%;
     
   /* border:solid red 2px;*/
}

#heading span{
    font-weight: bold;
    margin-left:50px;
    padding-top: 2%;
    
}

#heading button{
    background-color: #1c41d6;
    color:#f6f7fe;
    border-radius: 50%;
    padding:5px;
    margin-right: 73px;
    border: none;
}

#heading .head1{
    font-size: 20px;;
}
#heading .view{
    margin-left: 67%;
}

.control{
    width: 3%;
    margin-top: 58px;
    height: 88px;
    background-color:white;
    opacity: 1;
}

.control span i{
    color:black;
}

#products{
    width:100%;
    display: flex;
    flex-wrap: wrap;    
    margin: 1%;
    background-color: white;
}
    
#products2{
    width:100%;
    display: flex;
    flex-wrap: wrap;    
    margin: 1%;
    background-color: white;
}   
.card{
    /*height:350px;*/
    width:15%;
    padding: 1%;
    background-color: #ffffff;
    border: 1px solid gray;
    margin:2%;
    margin-left: 5%;
    animation: ramp 5s infinite;
}

/* @keyframes ramp{
    0%{
        transform:rotate(-40deg)
    }
    25%{
        transform:rotate(-20deg)
    }
    50%{
        transform:rotate(0deg)
    }
    25%{
        transform:rotate(20deg)
    }
    100%{
        transform:rotate(40deg)
    }
} */

.card:hover{
    box-shadow: 0 0 11px gray;
    transform:scale(1.1);
}


.product img{
    width:100%;
    height:200px;

}

.price{
    margin-top: 10px;
}
#off{
    color:green;
    font-size: 13px;
    font-weight: lighter;
}

.price p{
    text-align: center;
    color: black;
    font-weight: bold;

}

footer{
    width:100%;
    text-align: center;
    background-color: #172337;
    color:#ffffff;
    padding-top: 1%;
    padding-bottom: 2%;
}

.foot ul{
    list-style-type: none;
    
}

.foot{
    display: inline-block;
    border-right: 1px solid white;
    width:32%;
}

.noborder{
    border:none;
}

.footext{
    margin-bottom: 2%;
}



@media screen and (max-width:980px){
    .card{
        width:20%;
        margin-left: 7%;
    }
}

@media screen and (max-width:700px){
    .card{
        width:30%;
        margin-left: 10%
        
    }
}